{% extends 'BaconCoreBundle::layout.html.twig' %}
{% block body %}
<section class="content-header">
    <h1>
        {{ 'Acl'|trans }}
        <small>{{ 'Atribuir'|trans }}</small>
    </h1>
    {{ bacon_breadcrumbs_render() }}
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            {% include 'BaconCoreBundle:partial:message.html.twig' %}
        </div>
        <form action="{{ path('acl_post') }}" method="post">
            <div class="box-body">
                {% include 'BaconAclBundle:Partial:accordion.html.twig' %}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{ 'Submit'|trans }}</button>
            </div>
        </form>
    </div>
</section>
{% endblock body %}
